@charset "UTF-8"
    
*{
    box-sizing: border-box;
}

/* 개발자 테스트용 border:1 */  
    body[test] main,
    body[test] section,
    body[test] article,
    body[test] div,
    body[test] header,
    body[test] footer,
    body[test] nav,
    body[test] aside,
    body[test] span,
    body[test] p {
        border: 1px dotted black;
    }
        
    main{
        margin: auto;
        width: 1900;
    }

    section,
    article {
        padding: 0.5rem;
        }
        
/* 넓이 */
    .w-100{width: 100%;}
    .w-80{width: 80;}
    .w-60{width: 60;}
    .w-40{width: 40;}
    .w-20{width: 20;}
  
  
  /* 검색상세글용 스타일*/    
        .title{
            padding: 0.5rem;
            font-size: 40px;
        }
        .sub-title{
            font-size: 20px;
        }
        .text{
            padding: 1rem 0.5rem;
            font-size: 15px;
        }
        .board-udate{
        	font-size: 13px;
        	text-align: right;
        }  