@charset "UTF-8";

* {
  box-sizing: border-box;
}
body{
	margin:0px;
}

/*
웹폰트 설정
1.폰트를 등록한다(@font-face)
2.등록된 폰트를 설정한다(font-family)
*/

/* @font-face { */
/*     font-family: 아리따B; */
/*     src: url("../font/Arita_ttf/ARITA4.0_B.TTF") */
/* } */
/* @font-face { */
/*     font-family: 아리따L; */
/*     src: url("../font/Arita_ttf/ARITA4.0_L.TTF") */
/* } */
/* @font-face { */
/*     font-family: 아리따M; */
/*     src: url("../font/Arita_ttf/ARITA4.0_M.TTF") */
/* } */
/* @font-face { */
/*     font-family: 아리따SB; */
/*     src: url("../font/Arita_ttf/ARITA4.0_SB.TTF") */
/* } */
/* @font-face { */
/*     font-family: 아리따T; */
/*     src: url("../font/Arita_ttf/ARITA4.0_T.TTF") */
/* } */



@font-face{
    font-family:NotosanBlack;
    src:url("../font/Notosan/NotoSansCJKkr-Black.otf");
}
@font-face{
    font-family:NotosanB;
    src:url("../font/Notosan/NotoSansCJKkr-Bold.otf");
}

@font-face{
    font-family:NotosanM;
    src:url("../font/Notosan/NotoSansCJKkr-Medium.otf");
}
@font-face{
    font-family:NotosanR;
    src:url("../font/Notosan/NNotoSansCJKkr-Regular.otf");
}
@font-face{
    font-family:NotosanL;
    src:url("../font/Notosan/NotoSansCJKkr-Light.otf");
}


/* 개발자 테스트용 border:1 */  
    body[test] main,
    body[test] section,
    body[test] article,
    body[test] div,
    body[test] header,
    body[test] footer,
    body[test] nav,
    body[test] aside,
    body[test] span,
    body[test] p {
        border: 1px dotted black;
    }
        
    main{
        margin: auto;
        height: auto;
        width: 1900;
    }
	
    section,
    article {
        padding: 0.5rem;
    }
    article{
    	margin: auto;
    }
   

/*
    내부 영역 스타일
    - section 내부에 화면을 배치할 때 필요한 구성요소들을 미리 디자인
    - 영역(article) - 폭을 숫자로 지정할 수 있도록 구성
*/
.w-100 {width: 100%; }
.w-90 {width: 90%;}
.w-80 {width: 80%;}
.w-70 {width: 70%;}
.w-60 {width: 60%;}
.w-50 {width: 50%;}
.w-40 {width: 40%;}
.w-30 {width: 30%;}
.w-20 {width: 20%;}
.w-10 {width: 10%;}
/* 1줄의 float 설정 */
.row {
    margin: 10px 0px;
    text-align: center;
}

.row > * {
    width: 100%;
}

/* 여백 */
.row-empty {
    height: 20px;
}
		/* float 기본 설정 */
		.row-left {
        	text-align: left;
        }
        .row-right {
       		 text-align: right;
        }

		.row-multi > * {
			box-sizing: border-box;
			border: 1px, solid gray;
				
			float: left;
		}
		.row-multi.col-2 > * {width: 50%;}
		.row-multi.col-3 > * {width: 33.3333%;}
		.row-multi.col-4 > * {width: 25%};
		.row-multi.col-5 > * {width: 20%};
		
		
		.row::after {
			content: "";
			display: block;
			clear: both;
	}


/* 
게시글 등록 전 상세보기 페이지 설정
-content-wrap:상세보기 전체 디자인
-title:대제목 디자인
-subtitle:소제목 디자인
-content-item:상세보기 내용물 디자인
-content-item left:본인 글/관리자가 쓴 글 디자인
-content-item right:남의 글 디자인
-content-item .date:글 작성 시간 디자인
-content-item .img:업로드 된 파일 디자인
-reply:댓글 작성칸 전체 디자인
-reply #rt:댓글 입력창 디자인
-reply #bt:댓글 전송창 디자인
*/

.content-wrap{
			
            width: 100%;
            margin:auto;
            box-sizing: border-box;
            font-family: NotosanR;
        }
        .title{
            font-family: NotosanB;
        }
/*         .subtitle{ */
/*             font-family: 아리따M; */
/*         } */
        .content-item{
            width : 70%;
            padding: 15px;
            padding-bottom: 1px;
            margin-bottom:20px;
            text-align: left;
            word-break: break-all;
           
        }
        .content-item.right{
        	background-color: #808285;
            color:white;
        }
        .content-item.left{
            background-color: #d3d3d3;
            color:black;
            margin-left: auto;
        }
        
        .reply{
            width: 100%;
        }
        .content-item >.date{
            text-align: right;
            color: dimgray;
        }
        .content-item .img{
            width: 100%;
            margin-bottom: 10px;
        }
        
         .reply{
            margin:auto;
        } 
        .reply #rt{
            resize: vertical;
            width: 100%;
        }
        .reply #bt{
            
            color: white;
            padding: 5px;
            text-align: center;
            width: 80px;
            height: 35px;
            font-size: 1rem; 
            background-color: #808285;
    
            border-style: none;
            outline: none;
            
        }
        
        .reply #bt:hover{
            
            color: black;
            background-color: #d3d3d3;
    
            
        }

	     	/* a태그 하이퍼링크 표시 제어 */
    a:link { color: black; text-decoration: none;}
    a:visited { color: black; text-decoration: none;}
    a:hover { text-decoration: underline;}

/* 
헤더 디자인
-logo:로고 디자인
-tab:전체 헤더 영역을 감싸는 디자인
-content:내용물 영역
*/
        /*고정 메뉴 설정(옵션)*/
        .fixed{
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            line-height: 1;
            font-size: 1em;
            background-color: white;
        }
        .tab{
            position: absolute;
            width: 100%;
            height: 60px;
            overflow: hidden;
            transition: height 0.4s;
            border-bottom: 1px solid black;
            background-color: white;
        }
        .tab a{
            color: black;
            text-decoration: none;
        }
        .tab:hover{
            height: 150px;
        }
        .tab > ul{
            text-align: center;
        }
        .tab > ul > li{
            display: inline-block;
            position: relative;
            padding: 0 30px;
            line-height: 30px;
            transition: background-color 0.3s;
            
        }
        .tab > ul > li:hover > a{
            color: #f5f5f5;
            
        }
        .tab ul ul li:hover a{
            color: darkgrey;
        }
        .tab ul ul{
            position: absolute;
            left: -25%;
            width: 150%;
          
        }
        
        .tab li:nth-child(1) ul{
            left: 0;
            width: 100%;
        }
        .tab ul ul a{
            display: block;
            text-decoration: none;
            line-height: 30px;
            font-size: 14px;
        }
        .tab ul ul li{
            list-style: none;
            margin-left: 12px;
            margin-top: 10px;
            text-align: left;
        }
        .tab{
            position: absolute;
            width: 100%;
            height: 60px;
            overflow: hidden;
            transition: height 0.4s;
            border-bottom: 1px solid black;
            background-color: white;
        }
        .tab a{
            color: black;
            text-decoration: none;
            background-color: white;
        }
        .tab:hover{
            height: 130px;
            background-color: white;
        }
        .tab > ul{
            text-align: center;
            background-color: white;
        }
        .tab > ul > li{
            display: inline-block;
            position: relative;
            padding: 0 30px;
            line-height: 30px;
            transition: background-color 0.3s;
            background-color: white;
            
        }
        .tab > ul > li:hover > a{
            color: #f5f5f5;
            background-color: white;
            
        }
        .tab ul ul li:hover a{
            color: darkgrey;
            background-color: white;
        }
        .tab ul ul{
            position: absolute;
            left: -25%;
            width: 150%;
            background-color: white;
          
        }
        
        .tab li:nth-child(1) ul{
            left: 0;
            width: 100%;
            background-color: white;
        }
        .tab ul ul a{
            display: block;
            text-decoration: none;
            line-height: 30px;
            font-size: 14px;
            background-color: white;
        }
        .tab ul ul li{
            list-style: none;
            margin-left: 12px;
            margin-top: 10px;
            text-align: left;
            background-color: white;
        }
        
        .tab li:hover ul{
           display: block;
        }
        
        .logo{
            color: black;
            text-decoration: none;
            font-size: 30px;
            line-height: 55px;
            left:30px;
            position:fixed;       
            background-color: white;
        }
/* 
(로그인 후)헤더 디자인
-logo:로고 디자인
-tab:전체 헤더 영역을 감싸는 디자인
-content:내용물 영역
*/
		/*고정 메뉴 설정(옵션)*/
        .fixed{
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            
            line-height: 1;
            font-size: 1em;
            background-color: black;
        }
        .btab{
            position: absolute;
            width: 100%;
            height: 60px;
            overflow: hidden;
            transition: height 0.4s;
            background-color: black;
        }
        .btab a{
            color: white;
            text-decoration: none;
        }
        .btab:hover{
            height: 150px;
        }
        .btab > ul{
            text-align: center;
        }
        .btab > ul > li{
            display: inline-block;
            position: relative;
            padding: 0 30px;
            line-height: 30px;
            transition: background-color 0.3s;
            
        }
        .btab > ul > li:hover > a{
            color: #f5f5f5;
            
        }
        .btab ul ul li:hover a{
            color: darkgrey;
        }
        .btab ul ul{
            position: absolute;
            left: -25%;
            width: 150%;
          
        }
        
        .btab li:nth-child(1) ul{
            left: 0;
            width: 100%;
        }
        .btab ul ul a{
            display: block;
            text-decoration: none;
            line-height: 30px;
            font-size: 14px;
        }
        .btab ul ul li{
            list-style: none;
            margin-left: 12px;
            margin-top: 10px;
            text-align: left;

        }
        .btab ul ul li #list{
             margin-left: 12px;
        }
        
        .btab li:hover ul{
           display: block;
        }
        
        .blogo{
            color: white;
            text-decoration: none;
            font-size: 30px;
            line-height: 55px;
            left:30px;
            position:fixed;       
        }
/* 
푸터 디자인
-footer:전체 푸터 영역을 감싸는 디자인
-img:(팔로우)인스타그램,페이스북,메신저 이미지
-col-3:3개의 영역(float)
-en:제목부분 굵은 글씨
*/

 .footer{
    font-family:NotosanR;
    font-size: 13.5px;
    background-color: black;
    color: white;
    bottom: 0px;
    left: 0px;
    width: 100%;
} 
.footer img{
    width: 30px;
}
.footer:after{
    content:"";
    display: block;
    clear:both;    
}     
.footer > *{
    float:left;
}        

 .footer.col-3 > * { 
     padding: 50px;
     width:33.3333%; 
}       
.footer a{
    color: white;
    text-decoration: none;
}
.footer #en{
    font-family:NotosanB;
}       
        
/* -아마도 슬라이더? */
.sun-container {
	display: table;
	width: 100%;
	text-align: center;
	height: 350px;
}

.sun-container-wrap {
	display: table-cell;
	vertical-align: top;
}

.sun-container-wrap>h3 {
	margin: 30px 0;
	padding: 0;
	margin-left: 40px;
}

table.sun-table tr {
	text-align: center;
}

table.sun-table label {
	width: 70px;
	display: inline-block;
	text-align: left;
}

table.sun-table input {
	width: 200px;
	line-height: 30px;
	padding: 0 10px;
	height: 30px;
}

table.sun-table input[type="submit"] {
	margin-top: 20px;
	color: white;
	background: black;
}

table.sun-table tr {
	text-align: center;
}

.vcenter {
	vertical-align: middle;
}

table.sun-user-table {
	width: 650px;
}

table.sun-user-table td, table.sun-user-table th {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
    line-height: 20px;
    font-size: 14px;
}

table.sun-user-table th {
    border-bottom: 1px solid #999;
}

table.sun-user-table button, table.sun-user-table input[type="button"], table.sun-user-table input[type="submit"] {
    background: black;
    color: white;
    outline: none;
    border: 1px solid black;
    width: 85px;
    cursor: pointer;
}

table.sun-user-table button:hover, table.sun-user-table input[type="button"]:hover, table.sun-user-table input[type="submit"]:hover {
    opacity: 0.8;
}

.sun-select select {
    width: 100px;
    border: 1px solid #ccc;
    height: 35px;
    padding: 0 5px;
}

.sun-select input[type="text"] {line-height: 35px; width: 170px; padding: 0 10px; border: 1px solid #ccc;height: 35px;vertical-align: top;}

.sun-select input[type="submit"], .sun-select input[type="button"] {
    height: 35px;
    background: black;
    color: white;
    border: none;
    width: 80px;
    cursor: pointer;
}

.sun-select input[type="submit"]:hover, .sun-select input[type="button"]:hover {
    opacity: 0.8;
}

